body {
	font-family: Arial;
	font-size: 1.2em;
	color: #333;
	line-height: 1.5em;
	margin: none;
	padding: none;
	background-image: url(../img/bg-maison.png);
	background-repeat: repeat-x; 
	background-color: #aaa;
}
a {
	text-decoration: none;	
}
.clear {
	clear:both;
}
header, section, article, footer {
	width: 100%;
	position: static;
	display: block;
}
header a {
	width: 980px;
	margin: 0 auto;
	display: block;
}
header img {
	float:left;
	transform: rotate(30deg);
	-ms-transform: rotate(30deg); 		/* IE 9 */
 	-webkit-transform: rotate(30deg); 	/* Safari and Chrome */
}
header hgroup {
	float:left;
}
header h1 {
	margin:10px;
	padding:0px;
	color:#333;
	animation: monanim 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
 	-webkit-animation: monanim 2s; /* Safari and Chrome */
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
}
header h2 {
	margin:10px;
	padding:0px;
	color: rgb(100,80,70);
}
section nav {
	width: 980px;
	margin: auto;
}
section ul {
	width: 980px;	
	list-style-type: none;
	
}
section li {
	float:left;	
	width: 20%;
	background-color: #333;
	text-align:center;
	border-radius: 20px;
	margin:5px;
	border:1px solid #333;
}
section li:hover {
	background-color: rgb(200,160,140);
	transform: rotate(5deg);
	-ms-transform: rotate(5deg); 		/* IE 9 */
 	-webkit-transform: rotate(5deg); 	/* Safari and Chrome */
	box-shadow: 5px 5px 5px #333;
}
section li a {
	color: #ffc;
}
section li a:hover {
	color: #333;
}
footer nav {
	width: 980px;
	margin: auto;
	position:fixed;
	bottom: 0;
}
footer ul {
	width: 980px;	
	list-style-type: none
}
footer li {
	float:left;	
	width: 25%;
	text-align:center;
	color: #333;
	transform
}
footer li:hover {
	background-color: rgba(100,80,70,0.5);
	color: #ffc;
}
footer li a {
	color: #333;
}
footer li a:hover {
	color: #ffc;
}
article form {
	margin: 20px;
	padding: 20px;
	background-color: rgba(200,160,140, 0.8);
	border-radius: 20px;
	box-shadow: 3px 3px 3px #666;	
}
article form label {
	width: 250px;
	text-align:right;
	display: block;
	float: left;
	font-size: 18px;
	text-shadow: 1px 1px 1px #666;
}
article form input {
	margin-left: 20px;
	float: left;
	border: 1px solid #333;	
}
article form input[type='text'] {
	width: 250px;
	padding: 2px 5px 2px 5px;
	border-radius:7px;
}
article form input[type='color'] {
	width: 50px;
	padding: 2px 5px 2px 5px;
	border-radius:7px;
}
article form input[type='number'] {
	width: 50px;
	padding: 2px 5px 2px 5px;
	border-radius:7px;
}
article form input[type='number']:invalid {
	border-color: #f00;
}
article form input[type='number']:valid {
	border-color: #fff;
}
article form input[type='submit'] {
	background-color:#333;
	color: #ffc;
	font-size: 18px;
	cursor: pointer;
	border-radius: 20px;
}
article form input[type='submit']:hover {
	background-color: rgb(200,160,140);
	color: #333;
	font-size: 18px;
	transform: rotate(5deg);
	-ms-transform: rotate(5deg); 		/* IE 9 */
 	-webkit-transform: rotate(5deg); 	/* Safari and Chrome */
	box-shadow: 5px 5px 5px #333;
}
article .video {
	width:320px;
	height:240px;
	margin: auto;
}
.info {
	text-align:	justify;
	background-color: rgba(200,160,140, 0.8);
	border: 1px solid #ccc;
	border-radius: 20px;
	box-shadow: 3px 3px 3px #666;
	text-shadow: 1px 1px 1px #666;	
	padding: 20px;
	font-size: 16px;
	margin: 20px;
}
.info mark {
	color: #fff;
	background-color: #f00;
}
@keyframes monanim
{
 from {color: red;}
 to {color: blue;}
}
 @-webkit-keyframes monanim /* Safari and Chrome */
{
 from {color: red;}
 to {color: blue;}
}